.conteinerH{
    background-image: url('../../image/5.jpg') ;
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-inline: auto;
    align-items: center;
    justify-content: center; 
    text-decoration: none;
    color: #26072e;
    font-size: 120%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.select {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #0a0a0a;
    font-weight: bold;
    /* justify-content: center;
    flex-wrap: wrap; */
    margin-block: 2rem;
    gap: 2rem;
    width: 8em;
    height: 2em;
    line-height: 3;
    background: #9c79a5;
    border-color: #9c79a5;
    overflow: hidden;
    border-radius: 1em;
 }
 .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
 }
 .select:hover::after {
    color: #23b499;
 }