.paginacion {
    position: static;
    display: inline-block;
    /* justify-content: space-around ;
    flex-wrap: nowrap; */
    padding: 0;
    margin: 0;
  }

.paginacion button {
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 8px 16px; /*espacio alrededor texto*/
  background-color: #2e518b; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 120px; /*bordes redondos*/
  float: left;
  margin: 0 4px;
}

.paginacion button:focus {
  background-color: white;
  color: #2e518b;
}